<a href="https://colab.research.google.com/github/avery-wang/Week1_Public/blob/master/ChallengeProject/ChallengeProject_Complete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Challenge Project
This is the complete notebook, which includes both the data cleaning and visualization section released on Day 2, and additional guidelines for model creation and evaluation. If you were already working on the notebook from before, you may have to copy your work over.

At the end of this notebook, there is also a description of how to finalize and present your project.

## Challenge Introduction

> Original author: Lyle Lalunio

Hypothyroidism, also called underactive thyroid or low thyroid, is a disorder of the endocrine system in which the thyroid gland does not produce enough thyroid hormone. It can cause a number of symptoms, such as poor ability to tolerate cold, a feeling of tiredness, constipation, depression, and weight gain. Occasionally there may be swelling of the front part of the neck due to goitre. Untreated hypothyroidism during pregnancy can lead to delays in growth and intellectual development in the baby or cretinism.

Worldwide, too little iodine in the diet is the most common cause of hypothyroidism. In countries with enough iodine in the diet, the most common cause of hypothyroidism is the autoimmune condition Hashimoto's thyroiditis. Less common causes include: previous treatment with radioactive iodine, injury to the hypothalamus or the anterior pituitary gland, certain medications, a lack of a functioning thyroid at birth, or previous thyroid surgery. The diagnosis of hypothyroidism, when suspected, can be confirmed with blood tests measuring thyroid-stimulating hormone (TSH) and thyroxine levels.

Worldwide about one billion people are estimated to be iodine deficient; however, it is unknown how often this results in hypothyroidism. In the United States, hypothyroidism occurs in 0.3â€“0.4% of people.

And that is why we iodize salt.

![alt text](https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/11/15/17/39/ds00181_-ds00344_-ds00353_-ds00491_-ds00492_-ds00567_-ds00660_-my00709_im01872_thyroid_gif.jpg)

Background: Doctors all around the world need our help to predict whether a patient has hypothyroid disease. We have already overspent our budget to collect such complete data on about 30 attributes for 2800 patients--a good starting number, but a larger sample would certainly be preferred. Moving forward, however, we simply cannot afford to spend so much money on data collection. Therefore, we also need to determine which attributes are the most meaningful to the predictive models, and cut out the rest that don't contribute much. 

The boss wants to see a **balanced** model that can predict with a **high sensitivity** and **high specificity** while using a ***low amount of features***. Collecting complete data such as this is very rare, very time-consuming, and often very expensive. By minimizing the number of features, it will optimize future data collection by deciding what needs to be collected, and what doesn't.

## Loading the data

Let's read the data into a Pandas dataframe and look at the first 20 records.

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/ChallengeProjects/Week1/allhypo.train.data.csv"
dataset=pd.read_csv(url) 
dataset.head(20)

   Age Sex On thyroxine  ... TBG referral source                          class
0   41   F            f  ...   ?            SVHC                 negative.|3733
1   23   F            f  ...   ?           other                 negative.|1442
2   46   M            f  ...   ?           other                 negative.|2965
3   70   F            t  ...   ?           other                  negative.|806
4   70   F            f  ...   ?             SVI                 negative.|2807
5   18   F            t  ...   ?           other                 negative.|3434
6   59   F            f  ...   ?           other                 negative.|1595
7   80   F            f  ...   ?             SVI                 negative.|1367
8   66   F            f  ...   ?             SVI                 negative.|1787
9   68   M            f  ...   ?             SVI                 negative.|2534
10  84   F            f  ...   ?             SVI                 negative.|1485
11  67   F            t  ...   ?           other                 negative.|3448
12  71   F            f  ...   ?           other                 negative.|1027
13  59   F            f  ...   ?             SVI                 negative.|3331
14  28   M            f  ...   ?            SVHC                 negative.|2043
15  65   F            f  ...   ?           other  compensated hypothyroid.|3169
16  42   ?            f  ...   ?           other                 negative.|2755
17  63   F            f  ...   ?             SVI                 negative.|1010
18  80   F            f  ...   ?             SVI                  negative.|803
19  28   M            f  ...   ?            SVHC                 negative.|2297

[20 rows x 29 columns]

Great, looks like the data loaded in properly. Let's continue looking at some summary statistics on our data.

## Viewing summary statistics
The functions describe() and info() are your friends

In [ ]:
dataset.describe()

         Age   Sex On thyroxine  ...   TBG referral source           class
count   2800  2800         2800  ...  2800            2800            2800
unique    94     3            2  ...     1               5            2800
top       59     F            f  ...     ?           other  negative.|1273
freq      75  1830         2470  ...  2800            1632               1

[4 rows x 29 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        2800 non-null   object
 1   Sex                        2800 non-null   object
 2   On thyroxine               2800 non-null   object
 3   query on thyroxine         2800 non-null   object
 4   on antithyroid medication  2800 non-null   object
 5   sick                       2800 non-null   object
 6   pregnant                   2800 non-null   object
 7   thyroid surgery            2800 non-null   object
 8   I131 treatment             2800 non-null   object
 9   query hypothyroid          2800 non-null   object
 10  query hyperthyroid         2800 non-null   object
 11  lithium                    2800 non-null   object
 12  goitre                     2800 non-null   object
 13  tumor                      2800 non-null   object
 14  psych                      2800 non-null   object
 15  TSH measured               2800 non-null   object
 16  TSH                        2800 non-null   object
 17  T3 measured                2800 non-null   object
 18  T3                         2800 non-null   object
 19  TT4 measured               2800 non-null   object
 20  TT4                        2800 non-null   object
 21  T4U measured               2800 non-null   object
 22  T4u                        2800 non-null   object
 23  FTI measured               2800 non-null   object
 24  FTI                        2800 non-null   object
 25  TBG measured               2800 non-null   object
 26  TBG                        2800 non-null   object
 27  referral source            2800 non-null   object
 28  class                      2800 non-null   object
dtypes: object(29)
memory usage: 634.5+ KB

Note the data types are all objects--even columns that are obviously numeric like Age.

## Data cleaning

To start, let's make all the numerical columns contain the correct type of values and change the data type of those columns to numeric. Let's also replace all those question marks with the median of the respective column.

Hint: To make it easier, first try converting all the "?" to NaN.

In [ ]:
import numpy as np
dataset = dataset.replace("?", np.nan)

# The categories which have numerical responses:
numbers = ["TSH", "T3", "TT4", "T4u", "FTI", "TBG"]

# Replace NaN with median:
for i in numbers:
  dataset[i].fillna(dataset[i].median(), inplace=True)
  # do we need to replace f and t with 0 and 1? 
dataset.head(20)

   Age  Sex On thyroxine  ... TBG referral source                          class
0   41    F            f  ... NaN            SVHC                 negative.|3733
1   23    F            f  ... NaN           other                 negative.|1442
2   46    M            f  ... NaN           other                 negative.|2965
3   70    F            t  ... NaN           other                  negative.|806
4   70    F            f  ... NaN             SVI                 negative.|2807
5   18    F            t  ... NaN           other                 negative.|3434
6   59    F            f  ... NaN           other                 negative.|1595
7   80    F            f  ... NaN             SVI                 negative.|1367
8   66    F            f  ... NaN             SVI                 negative.|1787
9   68    M            f  ... NaN             SVI                 negative.|2534
10  84    F            f  ... NaN             SVI                 negative.|1485
11  67    F            t  ... NaN           other                 negative.|3448
12  71    F            f  ... NaN           other                 negative.|1027
13  59    F            f  ... NaN             SVI                 negative.|3331
14  28    M            f  ... NaN            SVHC                 negative.|2043
15  65    F            f  ... NaN           other  compensated hypothyroid.|3169
16  42  NaN            f  ... NaN           other                 negative.|2755
17  63    F            f  ... NaN             SVI                 negative.|1010
18  80    F            f  ... NaN             SVI                  negative.|803
19  28    M            f  ... NaN            SVHC                 negative.|2297

[20 rows x 29 columns]

Hmm, still looks like the TBG column is unfilled, implying it was empty to begin with. Let's get rid of this column, then (and make sure to get rid of it in your list of numeric columns, too!)

In [ ]:
numbers = numbers[:-1]
del dataset["TBG"]
dataset.head(20)

   Age  Sex  ... referral source                          class
0   41    F  ...            SVHC                 negative.|3733
1   23    F  ...           other                 negative.|1442
2   46    M  ...           other                 negative.|2965
3   70    F  ...           other                  negative.|806
4   70    F  ...             SVI                 negative.|2807
5   18    F  ...           other                 negative.|3434
6   59    F  ...           other                 negative.|1595
7   80    F  ...             SVI                 negative.|1367
8   66    F  ...             SVI                 negative.|1787
9   68    M  ...             SVI                 negative.|2534
10  84    F  ...             SVI                 negative.|1485
11  67    F  ...           other                 negative.|3448
12  71    F  ...           other                 negative.|1027
13  59    F  ...             SVI                 negative.|3331
14  28    M  ...            SVHC                 negative.|2043
15  65    F  ...           other  compensated hypothyroid.|3169
16  42  NaN  ...           other                 negative.|2755
17  63    F  ...             SVI                 negative.|1010
18  80    F  ...             SVI                  negative.|803
19  28    M  ...            SVHC                 negative.|2297

[20 rows x 28 columns]

All right, let's take a look now at the info of *just the numeric columns* in the dataset:

In [ ]:
dataset[numbers].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TSH     2800 non-null   object
 1   T3      2800 non-null   object
 2   TT4     2800 non-null   object
 3   T4u     2800 non-null   object
 4   FTI     2800 non-null   object
dtypes: object(5)
memory usage: 109.5+ KB

Perfect, now let's fix that class feature. According to the note the data collectors included with this data, the ".|####" refers to a patient number, and is not necessarily relevant for our purposes here.

In [ ]:
### Your code here

Let's run the describe() function on just the "class" column.

In [ ]:
dataset['class'].describe()

It looks like there are actually 4 unique classification variables! Thank goodness we didn't assume it was binary.

Display all the unique values in the class column.

In [ ]:
### Your code here

But let's make it binary for the sake of this example anyway. If you finish early later on, try the multiclass classifier with all 4 values!

In [ ]:
### Your code here

Before we move on, let's not forget to run the describe() function on just  your categorical columns, too.
Compare it to the describe() that your numeric columns produce.

In [ ]:
### Your code here

Great! Let's see if there's any other records we have to address. count() is a nice way to check if we have any other missing values.

In [ ]:
dataset.count()

We could replace the missing values in proportion to the current number of males and females over the total, but that is making an assumption we don't have to make. For now, let's simply cut the records of all these sexless people out of our data.

In [ ]:
### Your code here

Nice! Now we have a pretty clean dataset to work with. Let's now do some further data analysis and visualization to better understand what we're working with.

## Data analysis and visualization

Check the correlation

In [ ]:
### Your code here

Convert the class feature to numeric so we can also see the correlations it has with the numeric features, and check the correlation again.

In [ ]:
import pandas as pd
### Your code here

Let's do some further visual analysis using a new module called seaborn. Explore its incredible versatility and diversity with data visualization here: https://seaborn.pydata.org/

In [ ]:
import seaborn as sns
sns.pairplot(copy)

OK! I think we're ready to create and select some supervised learning models. To get the ball rolling, select Age and Sex as our explanatory features (and class as the target feature, obviously).

## Model training and selection

Let's use get_dummies on the categorical variables (but not the class value!) to view the column names to select some for our model.

In [ ]:
### Your code here

All right, let's now split our data into training and testing in an 80-20 split. For consistency, let's all use a seed of 8675309.

In [ ]:
from sklearn.model_selection import train_test_split

## Your code here

For reusability, let's make a logistic regression function that will take our training and testing data as arguments. Inside the function, build a model on your training data, fit it with your training class data, and return a list of your predictions.

In [ ]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

def log_reg(train_X,train_Y,test_X,test_Y):

  ### Your code here

Fantastic, we have just built a logistic regression model! Let's go see how well it performs.

### Model evaluation

To start, let's establish the baseline performance. This is important because it provides a starting point of comparison for later evaluation methods, like accuracy.

A good baseline model to use is the Zero Rule algorithm. In classification problems, it simply predicts the class value with the greatest number of instances every time.

In [ ]:
def zero_rule_algorithm_classification(train,test):
  ## Your code here

Get your baseline performance by calculating the accuracy of your Zero Rule algorithm.

In [ ]:
## Your code here

So maybe accuracy isn't the best performance measure for this dataset. As you've seen already, even when the models predict "negative" for all the records, we could already achieve a ~92% accuracy. However, that also implies we incorrectly predicted 100% of the positive cases, which in the context of this problem, is fatal.

Thankfully, it isn't the only way to evaluate your model. Let's start by creating a confusion matrix using the logistic regression function you built earlier.

In [ ]:
from sklearn.metrics import confusion_matrix
### Your code here

Hopefully you remember our discussion of the Area Under the Receiver Operator Curve metric. This can measure the accuracy of a test to discriminate diseased cases from normal cases.

When you consider the results of a particular test in two populations, one population with a disease, the other population without the disease, you will rarely observe a perfect separation between the two groups. Hence, the overlapping areas in the diagram below (FN, FP).

To review, on a Receiver Operating Characteristic (ROC) curve, the true positive rate is plotted in function of the false positive rate for different cut-off points. Each point on the ROC curve represents a sensitivity/specificity pair corresponding to a particular decision threshold. A test with perfect discrimination (no overlap in the two distributions) has a ROC curve that passes through the upper left corner. Therefore the closer the ROC curve is to the upper left corner, the higher the overall accuracy of the test.

![alt text](https://www.medcalc.org/manual/_help/images/roc_intro1.png)

Now, to graph the AUROC curve, we will need to predict probabilities of choosing a specific class value rather than the class value itself. Make a new logistic regression model that does so.

In [ ]:
from sklearn.linear_model import LogisticRegression

### Your code here

Now calculate the area under the receiver operator curve with your predictions.

In [ ]:
from sklearn import metrics

### Your code here

Now graph the ROC curve using matplotlib, fully labeled.

In [ ]:
import matplotlib.pyplot as plt
### Your code here

In conclusion, it looks like this model performed pretty bad. It's probably best to try out different columns or perhaps use a different model before we submit our model for scoring. Get creative!

In [ ]:
## Your code here

## Submitting your Model

Once you believe to have found the best classifier, run your classifier on the test data and make a pickle file containing of your predictions contained a pandas dataframe.

This pandas dataframe will contain three columns for your binary classifier (or 5 columns for the multiclass classifier): the first column should be your model's "best guess" for each patient (either 0 or 1, negative or positive) and the last two columns should be the probability the patient would be classified as either a 0 or 1.

(see below for reference)

In [ ]:
#pickling example
import pickle
predictions=po.DataFrame({"guesses":[0,1,0,1],"prob_neg":[.75,.15,.63,.20],"prob_pos":[.25,.85,.27,.80]})
prediction_pickle_path = 'prediction_pickle.pkl'

from google.colab import files
# Create an variable to pickle and open it in write mode
prediction_pickle = open(prediction_pickle_path, 'wb')
pickle.dump(predictions, prediction_pickle)
files.download(prediction_pickle_path)
prediction_pickle.close()

In [ ]:
prediction_unpickle = open(prediction_pickle_path, 'rb')
 
# load the unpickle object into a variable
predictions = pickle.load(prediction_unpickle)
 
print(predictions)

We will compare your guesses with the true classifications to score your model using the AUC metric.

## Presenting your Model

Finally, we would like you to be able to present your model to the class. Prepare a notebook with the following things:

* **Features Chosen:** a list of the features used in your model, and an explanation of how you chose them.
* **Type of Model:** an explanation of the model type, parameters used, and why.
* **Evaluation:** at least one plot showing an evaluation of your model against a validation set. You can use a confusion matrix, AUROC, or another metric of your choice.

Feel free to include one or two additional plots that describe your process and/or model if you think that would be helpful.

## Moving to the Next Level

For those that finish early, remember how we converted the class values into the binary of "negative" and "positive"? Now try tackling the multiclass classifier (predicting the different types of positive hypothyroid cases instead of simply negative or positive)! 

The same rules apply!